.header {
    padding-bottom: 20px;
    margin-bottom: 20px;
}
html, body, text, button, label, h3, h5 {
    font-family: 'Open Sans', sans-serif;
}
.header > h3, h5 {
    margin: 0;
    padding-top: 20px;
    text-align: center;
}

select {
    color: #555;
    font-size: inherit;
    margin: 0;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.select1 {
    position: relative;
    left:200px;
    
}

/* Include any custom CSS styling here! */
